<a href="https://colab.research.google.com/github/Carlos-F-Braga/Teste-Python/blob/master/03_Estruturas_de_Repeti%C3%A7%C3%A3o_Carlos_Frederyco.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![image.png]()
#03 - Estruturas de Repetição
## Linguagem de Programação III (Prof. Dr. Henrique Dezani)
Curso de Tecnologia em Informática para Negócios da Faculdade de Tecnologia de São José do Rio Preto

## 1. Estrutura de repetição while

Testando com `if`, `elif` e `else` é executado de cima para baixo. Às vezes, precisamos fazer algo mais de uma vez. Precisamos de um *loop*, e o mecanismo de *loop* mais simples do Python é `while`.

A estrutura de repetição `while` em Python também avalia uma expressão e executa um bloco **até que** esta seja avaliada como falsa (`False`), tenha uma chamada `break` ou levante uma *exceção* sem tratamento. Portanto, esta estrutura de repetição é chamada de estrutura de repetição com teste lógico. Execute o próximo exemplo, que é um *loop* simples que imprime os números de 1 a 5.

In [ ]:
count = 1
while count <= 5:  
  print(count)
  count = count + 1 # count += 1 # Não existe no Python: count++

1
2
3
4
5

Neste exemplo, primeiro atribuímos o valor 1 à varivel `count`. O *loop* `while` comparou o valor de `count` a 5 e continuou se `count` fosse menor ou igual a 5. Dentro do *loop*, imprimimos o valor de `count` e, em seguida, incrementamos seu valor em 1 com a instrução `count += 1`. Python retorna para o topo do *loop*, e novamente compara `count` com 5. O valor de `count` agora é 2, então o conteúdo do *loop* `while` é novamente executado e a contagem é incrementada em 3.

Isso continua até que a contagem seja incrementada de 5 a 6 na parte inferior do *loop*. Na próxima passagem pelo topo, a `contagem <= 5` agora é `False` e o *loop* `while` termina.

### 1.1. Cancelarndo o *loop* com `break`

Se você deseja fazer um *loop* até que algo ocorra, mas não tem certeza de quando isso pode acontecer, você pode usar um *loop* infinito com uma **declaração de interrupção**. Desta vez, leremos uma linha de entrada do teclado por meio da função `input()` do Python e a imprimiremos com a primeira letra maiúscula. Interrompemos o *loop* quando uma linha contendo apenas a letra q é digitada:

In [ ]:
while True:
  texto = input('Digite uma palavra [digite s para para sair]: ')
  if texto == 's':
    break
  print(texto.capitalize())

Digite uma palavra [digite s para para sair]: S
S
Digite uma palavra [digite s para para sair]: S
S
Digite uma palavra [digite s para para sair]: s

### 1.2. Avançar o loop com `continue`
Às vezes, você não deseja sair de um *loop*, mas quer pular para a próxima iteração por algum motivo. Aqui está um exemplo artificial: vamos ler um número inteiro, imprimir seu quadrado se for ímpar e pular se for par. Novamente, usaremos q para interromper o *loop*:

In [ ]:
while True:
  texto = input('Digite uma número inteiro [digite s para para sair]: ')
  if texto == 's':
    break
  numero = int(texto)
  if numero % 2 == 0:
    continue
  print(numero * numero)

Digite uma número inteiro [digite s para para sair]: s

### 1.3. Verificar se `break` foi utilizado com `else`
Se o *loop* `while` terminou normalmente (sem chamada de interrupção - `break`), o controle passa para outro opcional. Você pode usar isso quando codificar um *loop* `while` para verificar se há alguma restrição e avisar assim que é encontrada. O `else` seria executado se o *loop* `while` fosse concluído, mas a restrição não fosse encontrada. Confira o exemplo a seguir:

In [ ]:
numero = int(input('Digite um número: '))  # 7

contador = numero-1 # contador = 6

while contador > 1:
  if numero % contador == 0:
    print('{} não é um número primo.'.format(numero))
    break
  contador -= 1
else: # só será executado se não foi executado o break anteriormente.
  print(f'{numero} é um número primo.')

Digite um número: 2
2 é um número primo.

Para relembrar! Uma característica marcante de Python é: a definição dos limites do início e fim dos blocos são feitas com **indentação**. Sempre que andamos espaços para a direita, estamos definindo um novo bloco. Já quando voltamos os espaços, significa que aquele bloco terminou.

##2. Exercícios

### 2.1. Exercício 1: Faça um programa que cadastre o estado civil de uma pessoa, entretanto, o programa deve continuar perguntando enquanto o valor informado for diferente de "solteiro" ou "casado".

In [ ]:
ec = input('Digite seu Estado Civil: ')


while not ec == "casado" and not ec == "solteiro":
  ec = input('Digite seu Estado Civil: ')

print(f"Muito obrigado pela informação, seu Estado Civil é {ec}")

Digite seu Estado Civil: solteiro
Muito obrigado pela informação, seu Estado Civil é solteiro

### 2.2. Exercício 2: Faça um programa que leia um número qualquer e mostre o seu fatorial. 

Exemplo:  5! = 5 x 4 x 3 x 2 x 1 = 120

Input: 5

Output: 120

In [ ]:
n = int(input('Digite um número: '))
ni = n
cont = n
while cont > 0:
 cont = cont - 1
 if cont > 0:
  n = n * cont


print(f"O Fatorial de {ni} é igual a {n}")

Digite um número: 15
O Fatorial de 15 é igual a 1307674368000

### 2.3. Exercício 3: Faça um programa que leia um número inteiro N e mostre na tela os N primeiros números da Sequência de Fibonacci. 

Input: 7

Output: 0 -> 1 -> 1 -> 2 -> 3 -> 5 -> 8

In [ ]:
n = int(input("Quantos números? "))

n1, n2 = 0, 1
cont = 0


if n <= 0:
   print("Digite um valor positivo de números: ")

elif n == 1:
   print(f"Primeiro termo da sequência de Fibonacci: {n1}")
else:
   print("Sequência de Fibonacci até o núemro desejado:")
   while cont < n:
       print(n1)
       nn = n1 + n2
       n1 = n2
       n2 = nn
       cont = cont + 1

Quantos números? 10
Sequência de Fibonacci até o núemro desejado:
0
1
1
2
3
5
8
13
21
34

##3. Estrutura de repetição for

Python faz uso frequente de iteradores, por um bom motivo. Eles possibilitam percorrer estruturas de dados sem saber quão grandes elas são ou como são implementadas. Você pode até iterar sobre os dados criados em tempo real, permitindo o processamento de fluxos de dados que, de outra forma, não caberiam na memória do computador de uma só vez.

Estruturas de dados de listas são um dos objetos iteráveis do Python, além de strings, tuplas, dicionários, conjuntos e outros elementos. A iteração de tupla ou lista produz um item de cada vez. A iteração de `string` produz um caractere por vez, conforme mostrado aqui:

In [ ]:
texto = "Hello World" # string = conjunto de caracteres ['H', 'e', 'l', 'l', 'o', ' ', 'W' ...] # C char[10]

for caractere in texto:
  print(caractere, end='\t')

In [ ]:
len(texto)

In [ ]:
for i in range(len(texto)):
  print(texto[i], end='\t')

In [ ]:
lista_numeros = [1, 2, 4, 6, 3, 9, 7]

for numero in lista_numeros:
  print(numero, end=' ')

In [ ]:
lista_frutas = ['morango', 'banana', 'melão', 'abacaxi']

for fruta in lista_frutas:
  print(fruta)

In [ ]:
list(range(4))

In [ ]:
tamanho = len(lista_frutas)
tamanho

In [ ]:
for i in range(tamanho):
  print(lista_frutas[i])

In [ ]:
nomes = ['Marilla', 'William', 'João', 'Luis', 'Raul']

for nome in nomes:
  for caractere in nome:
    print(caractere, end = ' ')
  print()

###3.1. Gerar sequências numéricas com range()

A função `range()` retorna um fluxo de números dentro de um intervalo especificado. sem primeiro ter que criar e armazenar uma grande estrutura de dados, como uma `lista` ou `tupla`. Isso permite criar grandes intervalos sem usar toda a memória do computador e travar o programa.

O uso da função `range(valor_inicial, valor_final, etapa)`. Se você omitir o valor_inicial, o intervalo começará em 0. O único valor necessário é valor_final; sendo que o último valor criado será imediatamente antes do valor_inicial. O valor padrão da etapa é 1, mas você pode retroceder com -1.

In [ ]:
# usando a estrutura de repetição while:

contador = 0
while contador < 5:  
  print(contador)
  contador += 1

In [ ]:
# usando a estrutura de repetição for e a função built-in range:
for numero in range(0, 5):
  print(numero)

In [ ]:
# usando a estrutura de repetição for e a função built-in range:

for i in range(0, 5, 1):
  print(i)

In [ ]:
for i in range(5, 0, -1):
  print(i)

In [ ]:
# for(int i = 0; i < 10; i++)
for i in range(0, 10, 1):
  print(i)

In [ ]:
# for(int i = 4; i < 22; i+3)
for i in range(4, 22, 3):
  print(i)

In [ ]:
# for(int i = 10; i > 0; i--)
for i in range(10, 0, -1):
  print(i)

In [ ]:
rows = range(1,4)
cols = range(1,3)

for row in rows:
  for col in cols:
    print(row, col, end='  ')
  print()

###3.2. Função `enumerate()`

Muitas vezes precisamos enumerar os elementos, ou seja, além do elemento, queremos o seu índice. Com o comando `for` e a função interna `enumerate()` , isso torna-se simples. Veja o exemplo abaixo:

In [ ]:
lista_numeros = [1, 2, 7, 4, 5]
for indice, valor in enumerate(lista_numeros):
  print(indice, valor)

In [ ]:
for indice, valor in enumerate(lista_frutas):
  print(indice, valor, lista_frutas[indice])

###3.3. Continue, break e else.

**Cancelar com `break`**

Uma quebra em um *loop* `for` interrompe o *loop*, como ocorre durante um *loop* `while`. 

**Ignorar com `continue`**

A inserção de um `continue` em um *loop* `for` salta para a próxima iteração do *loop*, assim como por um *loop* `while`.

**Verificar uso do `break` com `else`**

Semelhante a `while`, `for` tem um opcional `else` que verifica se o `for` foi concluído normalmente. Se `break` não foi chamado, a instrução `else` é executada.

In [ ]:
for numero in range(0, 10):
  if numero < 5:
    continue # ignora o código posterior a ele (retoma o for)
  
  print(numero)

In [ ]:
texto = "Fatec"

for caractere in texto:
  if caractere == 'x':
    print('O texto contém a letra x.')
    break

else:
  print('O texto não contém a letra x.')

In [ ]:
texto = "Fatec@RioPreto"

for caractere in texto:
  if not caractere.isalnum(): 
    print('Caracter especial encontrado: {}'.format(caractere))
    break
else: # só será executado caso o break não seja executado dentro do for.
  print('Não há caractere especial no texto')

In [ ]:
texto = "Fatec$RioPreto"

tem_alnum = False

for caractere in texto:
  if not caractere.isalnum():
    print('Caracter especial encontrado: {}'.format(caractere))
    tem_alnum = True
    break

if not tem_alnum:
  print('Não há caractere especial no texto')

In [ ]:
lista = [1, 2, 3, 4, 5]
valor = 3

for i in range(len(lista)):
  if lista[i] == valor:
    del lista[i]
    break

In [ ]:
# RESUMO:
lista = [1, 2, 3, 4, 5]

for elemento in lista:
  print(elemento)

print()

for i in range(0, len(lista), 1):
  print(lista[i])

print()

for i, elemento in enumerate(lista):
  print(i, elemento)

## 4. Exercícios

### 4.1. Exercício 1: Crie um programa que escreva na tela todos os números pares no intervalo de 1 a 50.

In [ ]:
for n in range(1, 51):
  if n % 2 == 0:
   print (f"{n}")

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

### 4.2. Exercício 2: Faça um programa que leia um número inteiro e mostre na tela se é ou não um número primo.

In [ ]:
n = int(input('Digite um número: '))


if n == 1:
  print(f'{n} é um número primo.')

else:
 if n == 2:
  print(f'{n} é um número primo.')
 else:
  for cont in range(2, n):
   if n % cont == 0:
     print(f"{n} não é um número primo")
     print(f"Valor do contador: {cont}")
     break
   elif cont == n-1:
    print(f'{n} é um número primo.')
    print(f"Valor do contador: {cont}")
    break

Digite um número: 101
101 é um número primo.
Valor do contador: 100

### 4.3. Exercício 3: Crie um programa que leia a idade e o gênero de 5 pessoas. No final, o programa deverá mostrar:

1.   Quantas pessoas de mais de 20 anos.
2.   Quantas mulheres foram cadastradas.
3.   Quantos homens com menos de 19 anos foram cadastrados.

In [ ]:
qtdp = 0;
qtdm = 0;
qtdh = 0;
coconut = "la"
for cont in range(0,5):
  id = int(input('Digite a idade: '))
  g = input('Digite o gênero (m ou f): ')
  if g == 'f' or g == 'F' or g == 'm' or  g == 'M':
    if id > 0 and id < 125:
      if id > 20:
        qtdp = qtdp + 1
      if g == 'f' or g == 'F':
        qtdm = qtdm + 1
      elif g == 'm' or g == 'M' and id < 19:
        qtdh = qtdh + 1;
      print(f"Idade desta pessoa: {id}, gênero desta pessoa: {g}")
    else:
      print ("Digite Dados Corretos na Idade!!!")
      coconut = "Dog"
      break
  else:
    print ("Digite Dados Corretos no Gênero!!!")
    coconut = "Dog"
    break

if coconut != 'Dog':
  print(f"Quantidade de Pessoas de mais de 20 anos: {qtdp}")
  print(f"Quantidade de Mulheres cadastradas: {qtdm}")
  print(f"Quantidade de Homens com menos de 19 anos: {qtdh}")

Digite a idade: 16
Digite o gênero (m ou f): m
Idade desta pessoa: 16, gênero desta pessoa: m
Digite a idade: 29
Digite o gênero (m ou f): f
Idade desta pessoa: 29, gênero desta pessoa: f
Digite a idade: 28
Digite o gênero (m ou f): f
Idade desta pessoa: 28, gênero desta pessoa: f
Digite a idade: 27
Digite o gênero (m ou f): f
Idade desta pessoa: 27, gênero desta pessoa: f
Digite a idade: 26
Digite o gênero (m ou f): f
Idade desta pessoa: 26, gênero desta pessoa: f
Quantidade de Pessoas de mais de 20 anos: 4
Quantidade de Mulheres cadastradas: 4
Quantidade de Homens com menos de 19 anos: 1